# TP 2

## Imports

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import matplotlib
import plotly as py
import plotly.express as px 
import matplotlib.ticker as ticker
plt.style.use('default')
import plotly.offline as opy
import plotly.figure_factory as ff
import plotly.io as pio
from wordcloud import WordCloud

sns.set(style="whitegrid")

pd.options.display.float_format = '{:20,.2f}'.format 

import warnings
warnings.filterwarnings('ignore')

## lectura de datos

In [18]:
entrenamiento = pd.read_csv('Training.csv')
entrenamiento.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None

[5 rows x 52 columns]

In [19]:
testeo = pd.read_csv('Test.csv')
testeo.head()

     ID Region  ... Total_Taxable_Amount       Prod_Category_A
0  6140   EMEA  ...           367,419.00  Prod_Category_A_None
1  6146   EMEA  ...           367,419.00  Prod_Category_A_None
2  6151   EMEA  ...           367,419.00  Prod_Category_A_None
3  6118   EMEA  ...           757,783.50  Prod_Category_A_None
4  6124   EMEA  ...           757,783.50  Prod_Category_A_None

[5 rows x 51 columns]

## prosesamiento de los df

In [22]:
def convertirATiempo(df,lista):
    for columna in lista:
        df[columna] = pd.to_datetime(df[columna])
    return df

def convertirATipo(df,lista,tipo):
    for columna in lista:
        df[columna] = df[columna].astype(tipo)
    return df

def convertirAFlotante(df,lista):
    for columna in lista:
        df[columna] = df[columna].apply(lambda x: None if (x == "None" or x == "Other") else float(x))
    return df

def establecerTipos(df):
    """cambia los tipos de las columnas"""
    
    #fechas
    listaDeColumnasFechas = ['Account_Created_Date','Opportunity_Created_Date','Quote_Expiry_Date','Last_Modified_Date','Delivery_Year','Planned_Delivery_End_Date','Planned_Delivery_Start_Date']
    df = convertirATiempo(df,listaDeColumnasFechas)
    #enteros
    listaDeColumnasEnteras = ['ID','Opportunity_ID']
    convertirATipo(df,listaDeColumnasEnteras,'int')
    #decimales
    listaDeColumnasEnteras = ['Price','ASP','ASP_(converted)','Total_Taxable_Amount','Total_Amount']
    convertirAFlotante(df,listaDeColumnasEnteras)
    #booleanos
    listaDeColumnasBooleanas = ['Pricing, Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved','Bureaucratic_Code_0_Approval','Bureaucratic_Code_0_Approved']
    convertirATipo(df,listaDeColumnasBooleanas,'bool')
    #categoricas
    listaDeColumnasCategoricas = ['Product_Category_B','Product_Family','Region','Territory','Bureaucratic_Code','Source ','Billing_Country','Account_Name','Opportunity_Name']
    convertirATipo(df,listaDeColumnasCategoricas,'category')
    return df

def eliminarColumnasSinImportancia(df):
    #"Last_Activity" y "Actual_Delivery_Date" son puros nulos
    #"Submitted_for_Approval" puros valores nulos
    #"Prod_Category_A" tiene todos sus valores iguales
    df = df.drop(['Submitted_for_Approval','Last_Activity','Actual_Delivery_Date','Prod_Category_A'], axis=1)
    return df

def agregarColumnas(df):
    df['Closed'] = df['Stage'].replace({'Closed Won': True, 'Closed Lost': True, 'Negotiation':False,'Proposal':False,'Qualification':False})#"Source " columna con un espacio en el nombre
    df['Won'] = df['Stage'].replace({'Closed Won': True, 'Closed Lost': False, 'Negotiation':False,'Proposal':False,'Qualification':False})#"Source " columna con un espacio en el nombre
    return df

#def unaFilaUnaOportunidad(df):
#    """se supone que en el df original puede haber mas de una fila por oportunidad de negocio"""
#    return df

def correccionDeTerritorios(df):
    #se refiere a diferentes partes de usa
    df = df.replace({'Territory':{'Central US':'USA','NE America':'USA', 'NW America':'USA','SW America':'USA','SE America':'USA'}})
    #se refiere a diferentes partes de usaSaudi Arabia
    df = df.replace({'Territory':{'KSA':'Saudi Arabia'}})
    #No se ha encontrado la dorma de los siguientes datos 'Kosovo','South America', 'South East Asia', 'UAE (Dubai)', 'UAE (Others)' (en el caso de kosovo no lo grafica)
    return df

def preparacionDelDataFrame(df):
    df = eliminarColumnasSinImportancia(df)
    df = establecerTipos(df)
    #df = unaFilaUnaOportunidad(df)
    df = correccionDeTerritorios(df)
    df = agregarColumnas(df)
    df.rename(columns = {'Source ':'Source'}, inplace = True)
    return df

In [12]:
def agrupacionDeOportunidades(df):
  df['modificaciones'] = 1
  data = df.groupby('Opportunity_ID').agg({'Won':'sum','Closed':'sum','modificaciones':'sum',
                                           'Last_Modified_Date':'max','Opportunity_Created_Date':'min',
                                           'Price':'mean','Quote_Expiry_Date':'max',
                                           'Pricing, Delivery_Terms_Quote_Appr':'sum',
                                           'Pricing, Delivery_Terms_Approved':'sum',
                                           'Bureaucratic_Code_0_Approval':'sum',
                                           'Bureaucratic_Code_0_Approved':'sum',
                                           'Account_Created_Date':'min',
                                           'Total_Amount':'sum','Region':'first',
                                           'Territory':'first',
                                           'ASP_(converted)':'sum',
                                           'Product_Type':'first',
                                           'Product_Category_B':'first'})#hay que seguir agregando cosas que son importantes
  data['Closed'] = data['Closed'].agg(lambda x: 1 if x > 0 else 0)
  data['Won'] = data['Won'].agg(lambda x: 1 if x > 0 else 0)
  data['Lost'] = data['Closed'] - data['Won']#si es won es closed pero si es closed y no es won es perdido
  data['Lost'] = data['Lost'].agg(lambda x: 1 if x > 0 else 0)

  data['Pricing, Delivery_Terms_Quote_Appr'] = data['Pricing, Delivery_Terms_Quote_Appr'].agg(lambda x: 1 if x > 0 else 0)
  data['Pricing, Delivery_Terms_Approved'] = data['Pricing, Delivery_Terms_Approved'].agg(lambda x: 1 if x > 0 else 0)
  data['Bureaucratic_Code_0_Approval'] = data['Bureaucratic_Code_0_Approval'].agg(lambda x: 1 if x > 0 else 0)
  data['Bureaucratic_Code_0_Approved'] = data['Bureaucratic_Code_0_Approved'].agg(lambda x: 1 if x > 0 else 0)
  #data = data.replace({'Won':})
  data = data[data['Closed'] > 0]#no interesan los que no se cerraron
  return data

## Ejecucion de cambios

In [20]:
entrenamiento = preparacionDelDataFrame(entrenamiento)
entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 50 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  category
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  bool
 4   Pricing, Delivery_Terms_Approved    16947 non-null  bool
 5   Bureaucratic_Code_0_Approval        16947 non-null  bool
 6   Bureaucratic_Code_0_Approved        16947 non-null  bool
 7   Bureaucratic_Code                   16947 non-null  category
 8   Account_Created_Date                16947 non-null  datetime64[ns]
 9   Source                              16947 non-null  category
 10  Billing_Country                     16947 non-null  category
 11  Account_Name                        16947 non-null  category
 12  Opportunity_Name                    16947 non-null  category
 13  Opportunity_ID                      16947 non-null  int64
 14  Sales_Contract_No                   16947 non-null  object
 15  Account_Owner                       16947 non-null  object
 16  Opportunity_Owner                   16947 non-null  object
 17  Account_Type                        16947 non-null  object
 18  Opportunity_Type                    16947 non-null  object
 19  Quote_Type                          16947 non-null  object
 20  Delivery_Terms                      16947 non-null  object
 21  Opportunity_Created_Date            16947 non-null  datetime64[ns]
 22  Brand                               16947 non-null  object
 23  Product_Type                        16947 non-null  object
 24  Size                                16947 non-null  object
 25  Product_Category_B                  16947 non-null  category
 26  Price                               356 non-null    float64
 27  Currency                            16947 non-null  object
 28  Quote_Expiry_Date                   12322 non-null  datetime64[ns]
 29  Last_Modified_Date                  16947 non-null  datetime64[ns]
 30  Last_Modified_By                    16947 non-null  object
 31  Product_Family                      16947 non-null  category
 32  Product_Name                        16947 non-null  object
 33  ASP_Currency                        16947 non-null  object
 34  ASP                                 13738 non-null  float64
 35  ASP_(converted)_Currency            16947 non-null  object
 36  ASP_(converted)                     13738 non-null  float64
 37  Planned_Delivery_Start_Date         16947 non-null  datetime64[ns]
 38  Planned_Delivery_End_Date           16872 non-null  datetime64[ns]
 39  Month                               16947 non-null  object
 40  Delivery_Quarter                    16947 non-null  object
 41  Delivery_Year                       16947 non-null  datetime64[ns]
 42  TRF                                 16947 non-null  int64
 43  Total_Amount_Currency               16947 non-null  object
 44  Total_Amount                        16888 non-null  float64
 45  Total_Taxable_Amount_Currency       16947 non-null  object
 46  Total_Taxable_Amount                16947 non-null  float64
 47  Stage                               16947 non-null  object
 48  Closed                              16947 non-null  bool
 49  Won                                 16947 non-null  bool
dtypes: bool(6), category(8), datetime64[ns](7), float64(5), int64(3), object(21)
memory usage: 5.4+ MB

In [21]:
testeo['Stage'] = False
testeo = preparacionDelDataFrame(testeo)
testeo.info()

TypeError: ignored