# TP 2

## Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import matplotlib
import plotly as py
import plotly.express as px 
import matplotlib.ticker as ticker
plt.style.use('default')
import plotly.offline as opy
import plotly.figure_factory as ff
import plotly.io as pio
from wordcloud import WordCloud

sns.set(style="whitegrid")

pd.options.display.float_format = '{:20,.2f}'.format 

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Ejecutar so no funciona el import
!pip3 install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/20/37/bc4e0ddc30c07a96482abf1de7ed1ca54e59bba2026a33bca6d2ef286e5b/catboost-0.24.4-cp36-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.8MB 88kB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.4

In [ ]:
from catboost import CatBoostClassifier

## lectura de datos

In [32]:
entrenamiento = pd.read_csv('Training.csv')
entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  object
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               16947 non-null  object
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   16947 non-null  object
 31  Last_Modified_Date                  16947 non-null  object
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 13738 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     13738 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  object
 40  Planned_Delivery_End_Date           16947 non-null  object
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                16947 non-null  object
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16888 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  object
 51  Prod_Category_A                     16947 non-null  object
dtypes: float64(4), int64(9), object(39)
memory usage: 6.7+ MB

In [33]:
testeo = pd.read_csv('Test.csv')
testeo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2551 entries, 0 to 2550
Data columns (total 51 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  2551 non-null   int64
 1   Region                              2551 non-null   object
 2   Territory                           2551 non-null   object
 3   Pricing, Delivery_Terms_Quote_Appr  2551 non-null   int64
 4   Pricing, Delivery_Terms_Approved    2551 non-null   int64
 5   Bureaucratic_Code_0_Approval        2551 non-null   int64
 6   Bureaucratic_Code_0_Approved        2551 non-null   int64
 7   Submitted_for_Approval              2551 non-null   int64
 8   Bureaucratic_Code                   2551 non-null   object
 9   Account_Created_Date                2551 non-null   object
 10  Source                              2551 non-null   object
 11  Billing_Country                     2551 non-null   object
 12  Account_Name                        2551 non-null   object
 13  Opportunity_Name                    2551 non-null   object
 14  Opportunity_ID                      2551 non-null   int64
 15  Sales_Contract_No                   2551 non-null   object
 16  Account_Owner                       2551 non-null   object
 17  Opportunity_Owner                   2551 non-null   object
 18  Account_Type                        2551 non-null   object
 19  Opportunity_Type                    2551 non-null   object
 20  Quote_Type                          2551 non-null   object
 21  Delivery_Terms                      2551 non-null   object
 22  Opportunity_Created_Date            2551 non-null   object
 23  Brand                               2551 non-null   object
 24  Product_Type                        2551 non-null   object
 25  Size                                2551 non-null   object
 26  Product_Category_B                  2551 non-null   object
 27  Price                               2551 non-null   object
 28  Currency                            2551 non-null   object
 29  Last_Activity                       2551 non-null   object
 30  Quote_Expiry_Date                   2551 non-null   object
 31  Last_Modified_Date                  2551 non-null   object
 32  Last_Modified_By                    2551 non-null   object
 33  Product_Family                      2551 non-null   object
 34  Product_Name                        2551 non-null   object
 35  ASP_Currency                        2551 non-null   object
 36  ASP                                 2467 non-null   float64
 37  ASP_(converted)_Currency            2551 non-null   object
 38  ASP_(converted)                     2467 non-null   float64
 39  Planned_Delivery_Start_Date         2551 non-null   object
 40  Planned_Delivery_End_Date           2551 non-null   object
 41  Month                               2551 non-null   object
 42  Delivery_Quarter                    2551 non-null   object
 43  Delivery_Year                       2551 non-null   int64
 44  Actual_Delivery_Date                2551 non-null   object
 45  TRF                                 2551 non-null   int64
 46  Total_Amount_Currency               2551 non-null   object
 47  Total_Amount                        2551 non-null   float64
 48  Total_Taxable_Amount_Currency       2551 non-null   object
 49  Total_Taxable_Amount                2551 non-null   float64
 50  Prod_Category_A                     2551 non-null   object
dtypes: float64(4), int64(9), object(38)
memory usage: 1016.5+ KB

## prosesamiento de los df

### modificaciones de oportunidad

In [28]:
def convertirATiempo(df,lista):
    for columna in lista:
        df[columna] = pd.to_datetime(df[columna])
    return df

def convertirATipo(df,lista,tipo):
    for columna in lista:
        df[columna] = df[columna].astype(tipo)
    return df

def convertirAFlotante(df,lista):
    for columna in lista:
        df[columna] = df[columna].apply(lambda x: None if (x == "None" or x == "Other") else float(x))
    return df

def establecerTipos(df):
    """cambia los tipos de las columnas"""
    
    #fechas
    listaDeColumnasFechas = ['Account_Created_Date','Opportunity_Created_Date','Quote_Expiry_Date','Last_Modified_Date','Delivery_Year','Planned_Delivery_End_Date','Planned_Delivery_Start_Date']
    df = convertirATiempo(df,listaDeColumnasFechas)
    #enteros
    listaDeColumnasEnteras = ['ID','Opportunity_ID']
    convertirATipo(df,listaDeColumnasEnteras,'int')
    #decimales
    listaDeColumnasEnteras = ['Price','ASP','ASP_(converted)','Total_Taxable_Amount','Total_Amount']
    convertirAFlotante(df,listaDeColumnasEnteras)
    #booleanos
    listaDeColumnasBooleanas = ['Pricing, Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved','Bureaucratic_Code_0_Approval','Bureaucratic_Code_0_Approved']
    convertirATipo(df,listaDeColumnasBooleanas,'bool')
    #categoricas
    listaDeColumnasCategoricas = ['Product_Category_B','Product_Family','Region','Territory','Bureaucratic_Code','Source ','Billing_Country','Account_Name','Opportunity_Name']
    convertirATipo(df,listaDeColumnasCategoricas,'category')
    return df

def eliminarColumnasSinImportancia(df):
    #"Last_Activity" y "Actual_Delivery_Date" son puros nulos
    #"Submitted_for_Approval" puros valores nulos
    #"Prod_Category_A" tiene todos sus valores iguales
    df = df.drop(['Submitted_for_Approval','Last_Activity','Actual_Delivery_Date','Prod_Category_A'], axis=1)
    return df

def agregarColumnas(df):
    df['Closed'] = df['Stage'].replace({'Closed Won': True, 'Closed Lost': True, 'Negotiation':False,'Proposal':False,'Qualification':False})#REVISAR
    df['Won'] = df['Stage'].replace({'Closed Won': True, 'Closed Lost': False, 'Negotiation':False,'Proposal':False,'Qualification':False})
    convertirATipo(df,['Stage'],'category')
    return df

def correccionDeTerritorios(df):
    #se refiere a diferentes partes de usa
    df = df.replace({'Territory':{'Central US':'USA','NE America':'USA', 'NW America':'USA','SW America':'USA','SE America':'USA'}})
    #
    df = df.replace({'Territory':{'KSA':'Saudi Arabia'}})
    #No se ha encontrado la dorma de los siguientes datos 'Kosovo','South America', 'South East Asia', 'UAE (Dubai)', 'UAE (Others)' (en el caso de kosovo no lo grafica)
    return df

def preparacionDelDataFrame(df,entrenamiento=True):
    df = eliminarColumnasSinImportancia(df)
    df = establecerTipos(df)
    df = correccionDeTerritorios(df)
    df.rename(columns = {'Source ':'Source'}, inplace = True)
    if (entrenamiento):
      df = agregarColumnas(df)
    return df

### por oportunidad

In [29]:
def dataEntrenamiento(df):
  data = df.groupby('Opportunity_ID').agg({'Won':'sum','Closed':'sum','modificaciones':'sum',
                                           #'Won':'sum','modificaciones':'sum',
                                           'Last_Modified_Date':'max','Opportunity_Created_Date':'min',
                                           'Price':'mean','Quote_Expiry_Date':'max',
                                           'Pricing, Delivery_Terms_Quote_Appr':'sum',
                                           'Pricing, Delivery_Terms_Approved':'sum',
                                           'Bureaucratic_Code_0_Approval':'sum',
                                           'Bureaucratic_Code_0_Approved':'sum',
                                           'Account_Created_Date':'min',
                                           'Total_Amount':'sum','Region':'first',
                                           'Territory':'first',
                                           'ASP_(converted)':'sum',
                                           'Product_Type':'first',
                                           'Product_Category_B':'first'})#hay que seguir agregando cosas que son importantes
  return data

def dataTesteo(df):
  data = df.groupby('Opportunity_ID').agg({'modificaciones':'sum',
                                           'Last_Modified_Date':'max','Opportunity_Created_Date':'min',
                                           'Price':'mean','Quote_Expiry_Date':'max',
                                           'Pricing, Delivery_Terms_Quote_Appr':'sum',
                                           'Pricing, Delivery_Terms_Approved':'sum',
                                           'Bureaucratic_Code_0_Approval':'sum',
                                           'Bureaucratic_Code_0_Approved':'sum',
                                           'Account_Created_Date':'min',
                                           'Total_Amount':'sum','Region':'first',
                                           'Territory':'first',
                                           'ASP_(converted)':'sum',
                                           'Product_Type':'first',
                                           'Product_Category_B':'first'})#hay que seguir agregando cosas que son importantes
  return data  

def agrupacionDeOportunidades(df,entrenamiento=True):
  df['modificaciones'] = 1
  if (entrenamiento):
    data = dataEntrenamiento(df)
    #Solo me interesa saber si se cerro con exito
    #data['Closed'] = data['Closed'].agg(lambda x: 1 if x > 0 else 0)
    data['Won'] = data['Won'].agg(lambda x: 1 if x > 0 else 0)
    #data['Lost'] = data['Closed'] - data['Won']#si es won es closed pero si es closed y no es won es perdido
    #data['Lost'] = data['Lost'].agg(lambda x: 1 if x > 0 else 0)

    #REVISAR la importancia del caso no cerrado
    data = data[data['Closed'] > 0]#no interesan los que no se cerraron, dado que no se cerraron no aportan
    data = data.drop(['Closed'], axis=1)
  else:
    data = dataTesteo(df)

  data['Pricing, Delivery_Terms_Quote_Appr'] = data['Pricing, Delivery_Terms_Quote_Appr'].agg(lambda x: 1 if x > 0 else 0)
  data['Pricing, Delivery_Terms_Approved'] = data['Pricing, Delivery_Terms_Approved'].agg(lambda x: 1 if x > 0 else 0)
  data['Bureaucratic_Code_0_Approval'] = data['Bureaucratic_Code_0_Approval'].agg(lambda x: 1 if x > 0 else 0)
  data['Bureaucratic_Code_0_Approved'] = data['Bureaucratic_Code_0_Approved'].agg(lambda x: 1 if x > 0 else 0)
  #data = data.replace({'Won':})
  return data

## Ejecucion de cambios

### ejecucion por modificaciones de oportunidad

In [34]:
entrenamiento = preparacionDelDataFrame(entrenamiento)
entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 50 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  category
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  bool
 4   Pricing, Delivery_Terms_Approved    16947 non-null  bool
 5   Bureaucratic_Code_0_Approval        16947 non-null  bool
 6   Bureaucratic_Code_0_Approved        16947 non-null  bool
 7   Bureaucratic_Code                   16947 non-null  category
 8   Account_Created_Date                16947 non-null  datetime64[ns]
 9   Source                              16947 non-null  category
 10  Billing_Country                     16947 non-null  category
 11  Account_Name                        16947 non-null  category
 12  Opportunity_Name                    16947 non-null  category
 13  Opportunity_ID                      16947 non-null  int64
 14  Sales_Contract_No                   16947 non-null  object
 15  Account_Owner                       16947 non-null  object
 16  Opportunity_Owner                   16947 non-null  object
 17  Account_Type                        16947 non-null  object
 18  Opportunity_Type                    16947 non-null  object
 19  Quote_Type                          16947 non-null  object
 20  Delivery_Terms                      16947 non-null  object
 21  Opportunity_Created_Date            16947 non-null  datetime64[ns]
 22  Brand                               16947 non-null  object
 23  Product_Type                        16947 non-null  object
 24  Size                                16947 non-null  object
 25  Product_Category_B                  16947 non-null  category
 26  Price                               356 non-null    float64
 27  Currency                            16947 non-null  object
 28  Quote_Expiry_Date                   12322 non-null  datetime64[ns]
 29  Last_Modified_Date                  16947 non-null  datetime64[ns]
 30  Last_Modified_By                    16947 non-null  object
 31  Product_Family                      16947 non-null  category
 32  Product_Name                        16947 non-null  object
 33  ASP_Currency                        16947 non-null  object
 34  ASP                                 13738 non-null  float64
 35  ASP_(converted)_Currency            16947 non-null  object
 36  ASP_(converted)                     13738 non-null  float64
 37  Planned_Delivery_Start_Date         16947 non-null  datetime64[ns]
 38  Planned_Delivery_End_Date           16872 non-null  datetime64[ns]
 39  Month                               16947 non-null  object
 40  Delivery_Quarter                    16947 non-null  object
 41  Delivery_Year                       16947 non-null  datetime64[ns]
 42  TRF                                 16947 non-null  int64
 43  Total_Amount_Currency               16947 non-null  object
 44  Total_Amount                        16888 non-null  float64
 45  Total_Taxable_Amount_Currency       16947 non-null  object
 46  Total_Taxable_Amount                16947 non-null  float64
 47  Stage                               16947 non-null  category
 48  Closed                              16947 non-null  bool
 49  Won                                 16947 non-null  bool
dtypes: bool(6), category(9), datetime64[ns](7), float64(5), int64(3), object(20)
memory usage: 5.3+ MB

In [35]:
testeo = preparacionDelDataFrame(testeo,False)
testeo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2551 entries, 0 to 2550
Data columns (total 47 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  2551 non-null   int64
 1   Region                              2551 non-null   category
 2   Territory                           2551 non-null   object
 3   Pricing, Delivery_Terms_Quote_Appr  2551 non-null   bool
 4   Pricing, Delivery_Terms_Approved    2551 non-null   bool
 5   Bureaucratic_Code_0_Approval        2551 non-null   bool
 6   Bureaucratic_Code_0_Approved        2551 non-null   bool
 7   Bureaucratic_Code                   2551 non-null   category
 8   Account_Created_Date                2551 non-null   datetime64[ns]
 9   Source                              2551 non-null   category
 10  Billing_Country                     2551 non-null   category
 11  Account_Name                        2551 non-null   category
 12  Opportunity_Name                    2551 non-null   category
 13  Opportunity_ID                      2551 non-null   int64
 14  Sales_Contract_No                   2551 non-null   object
 15  Account_Owner                       2551 non-null   object
 16  Opportunity_Owner                   2551 non-null   object
 17  Account_Type                        2551 non-null   object
 18  Opportunity_Type                    2551 non-null   object
 19  Quote_Type                          2551 non-null   object
 20  Delivery_Terms                      2551 non-null   object
 21  Opportunity_Created_Date            2551 non-null   datetime64[ns]
 22  Brand                               2551 non-null   object
 23  Product_Type                        2551 non-null   object
 24  Size                                2551 non-null   object
 25  Product_Category_B                  2551 non-null   category
 26  Price                               160 non-null    float64
 27  Currency                            2551 non-null   object
 28  Quote_Expiry_Date                   1315 non-null   datetime64[ns]
 29  Last_Modified_Date                  2551 non-null   datetime64[ns]
 30  Last_Modified_By                    2551 non-null   object
 31  Product_Family                      2551 non-null   category
 32  Product_Name                        2551 non-null   object
 33  ASP_Currency                        2551 non-null   object
 34  ASP                                 2467 non-null   float64
 35  ASP_(converted)_Currency            2551 non-null   object
 36  ASP_(converted)                     2467 non-null   float64
 37  Planned_Delivery_Start_Date         2551 non-null   datetime64[ns]
 38  Planned_Delivery_End_Date           2500 non-null   datetime64[ns]
 39  Month                               2551 non-null   object
 40  Delivery_Quarter                    2551 non-null   object
 41  Delivery_Year                       2551 non-null   datetime64[ns]
 42  TRF                                 2551 non-null   int64
 43  Total_Amount_Currency               2551 non-null   object
 44  Total_Amount                        2551 non-null   float64
 45  Total_Taxable_Amount_Currency       2551 non-null   object
 46  Total_Taxable_Amount                2551 non-null   float64
dtypes: bool(4), category(8), datetime64[ns](7), float64(5), int64(3), object(20)
memory usage: 815.8+ KB

### ejecucion por oportunidad

In [36]:
agrupacionEntrenamiento = agrupacionDeOportunidades(entrenamiento)
agrupacionEntrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9791 entries, 0 to 12803
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Won                                 9791 non-null   int64
 1   modificaciones                      9791 non-null   int64
 2   Last_Modified_Date                  9791 non-null   datetime64[ns]
 3   Opportunity_Created_Date            9791 non-null   datetime64[ns]
 4   Price                               267 non-null    float64
 5   Quote_Expiry_Date                   7463 non-null   datetime64[ns]
 6   Pricing, Delivery_Terms_Quote_Appr  9791 non-null   int64
 7   Pricing, Delivery_Terms_Approved    9791 non-null   int64
 8   Bureaucratic_Code_0_Approval        9791 non-null   int64
 9   Bureaucratic_Code_0_Approved        9791 non-null   int64
 10  Account_Created_Date                9791 non-null   datetime64[ns]
 11  Total_Amount                        9791 non-null   float64
 12  Region                              9791 non-null   object
 13  Territory                           9791 non-null   object
 14  ASP_(converted)                     9791 non-null   float64
 15  Product_Type                        9791 non-null   object
 16  Product_Category_B                  9791 non-null   object
dtypes: datetime64[ns](4), float64(3), int64(6), object(4)
memory usage: 1.3+ MB

In [37]:
agrupacionTesteo = agrupacionDeOportunidades(testeo,False)
agrupacionTesteo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1567 entries, 10689 to 12368
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   modificaciones                      1567 non-null   int64
 1   Last_Modified_Date                  1567 non-null   datetime64[ns]
 2   Opportunity_Created_Date            1567 non-null   datetime64[ns]
 3   Price                               110 non-null    float64
 4   Quote_Expiry_Date                   883 non-null    datetime64[ns]
 5   Pricing, Delivery_Terms_Quote_Appr  1567 non-null   int64
 6   Pricing, Delivery_Terms_Approved    1567 non-null   int64
 7   Bureaucratic_Code_0_Approval        1567 non-null   int64
 8   Bureaucratic_Code_0_Approved        1567 non-null   int64
 9   Account_Created_Date                1567 non-null   datetime64[ns]
 10  Total_Amount                        1567 non-null   float64
 11  Region                              1567 non-null   object
 12  Territory                           1567 non-null   object
 13  ASP_(converted)                     1567 non-null   float64
 14  Product_Type                        1567 non-null   object
 15  Product_Category_B                  1567 non-null   object
dtypes: datetime64[ns](4), float64(3), int64(5), object(4)
memory usage: 208.1+ KB

### separacion de resultados de entrenamiento

In [40]:
entrenamientoResultado = agrupacionEntrenamiento[['Won']]
entrenamientoResultado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9791 entries, 0 to 12803
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Won     9791 non-null   int64
dtypes: int64(1)
memory usage: 153.0 KB

In [41]:
agrupacionEntrenamiento = agrupacionEntrenamiento.drop(['Won'], axis=1)
agrupacionEntrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9791 entries, 0 to 12803
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   modificaciones                      9791 non-null   int64
 1   Last_Modified_Date                  9791 non-null   datetime64[ns]
 2   Opportunity_Created_Date            9791 non-null   datetime64[ns]
 3   Price                               267 non-null    float64
 4   Quote_Expiry_Date                   7463 non-null   datetime64[ns]
 5   Pricing, Delivery_Terms_Quote_Appr  9791 non-null   int64
 6   Pricing, Delivery_Terms_Approved    9791 non-null   int64
 7   Bureaucratic_Code_0_Approval        9791 non-null   int64
 8   Bureaucratic_Code_0_Approved        9791 non-null   int64
 9   Account_Created_Date                9791 non-null   datetime64[ns]
 10  Total_Amount                        9791 non-null   float64
 11  Region                              9791 non-null   object
 12  Territory                           9791 non-null   object
 13  ASP_(converted)                     9791 non-null   float64
 14  Product_Type                        9791 non-null   object
 15  Product_Category_B                  9791 non-null   object
dtypes: datetime64[ns](4), float64(3), int64(5), object(4)
memory usage: 1.3+ MB

## Prueva

In [ ]:
prueva = agrupacionTesteo.reset_index()
prueva = prueva[['Opportunity_ID']]
prueva['prediccion'] = 0
prueva
prueva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Opportunity_ID  1567 non-null   int64
 1   prediccion      1567 non-null   int64
dtypes: int64(2)
memory usage: 24.6 KB

In [ ]:
prueva = agrupacionTesteo
prueva['Target'] = 1
prueva = prueva[['Target']]
prueva.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1567 entries, 10689 to 12368
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prediccion  1567 non-null   int64
dtypes: int64(1)
memory usage: 24.5 KB

In [ ]:
from google.colab import files

prueva.to_csv('prueva.csv')
#files.download('resultado.csv')

## Resultado

In [39]:
def resultado(df,prediccion):
  resultado = df
  resultado['Target'] = prediccion
  resultado = resultado[['Target']]
  resultado.to_csv('resultado.csv')
  return resultado

## Catboost

In [43]:
def catboost(train_data,train_labels,cat_features,eval_data):
  # Inicializador de CatBoostClassifier
  model = CatBoostClassifier(iterations=2,
                            learning_rate=1,
                            depth=8)
  #parametros importantes por agregar: l2_leaf_reg, rsm
  #para tipos de category: cat_features, one_hot_max_size

  # Entrenamiento del modelo
  model.fit(train_data, train_labels, cat_features)

  # obtener prediccion
  preds_class = model.predict(eval_data)

  # obtener probabilidad de prediccion
  #preds_proba = model.predict_proba(eval_data)

  # obtener RawFormulaVal de la prediccion
  #preds_raw = model.predict(eval_data, prediction_type='RawFormulaVal')

  return resultado(eval_data,preds_class)

In [44]:
res = catboost(agrupacionEntrenamiento,entrenamientoResultado,['Region','Territory','Product_Type','Product_Category_B'],agrupacionTesteo)
res.info()

CatBoostError: ignored